<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments:: head"></head>
<body>
<header th:replace="fragments:: header"></header>
<div>
    <div th:if="${not#lists.isEmpty(students)}">
    <h1>
        <span>List of students</span>
    </h1>
            <table  class ="table">
                <tr>
                    <th>Id</th>
                    <th> Name</th>
                    <th>Gpa</th>
                    <th>Action</th>
                </tr>
                <tr th:each="stud : ${students}">
                    <td th:text="${stud.id}"></td>
                    <td th:text="${stud.name}"></td>
                    <td th:text="${stud.gpa}"></td>
                    <td> <a th:href="@{'/students/' + ${stud.id}}"> Details</a> </td>
                </tr>
                </table>
    </div>
    <div th:unless="${not#lists.isEmpty(students)}">
        <h2>
            <span>Oops, no students found! </span>
        </h2>
    </div>
</div>
<footer th:replace="fragments::footer"></footer>
</body>
</html>